/* Global */
:root {
  /* App Colors */
  --color-main-text: var(--color-purple-dark);
  /* Colors */
  --color-yellow: #FFFFE9;
  --color-yellow-point: #F9F6BE;
  --color-pink: #F7CAD4;
  --color-pink-point: #E79FB2;
  --color-purple: #C4CBF9;
  --color-purple-point: #E5D9FA;
  --color-purple-dark: #4A4070;
  --color-mint: #CAFDD3;
  --color-orange:#EEB69A;
  --color-blue:#95C9EC;
  /* Size */
  --font-small: 0.65rem;
  --font-middium: 0.7rem;
  --font-lage: 0.83rem;
  --font-main: 0.67rem;
  --font-ect: 0.6rem;
}



.outer{
  overflow: hidden;
}
body{
  margin: 0;
  color:  var(--color-main-text);
  background-color: var(--color-yellow);
  font-family: "Jua";
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
h3{
  margin: 0;
}
h4{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--color-main-text);
}
input{
  border: none;
}
button{
  border: none;
  background-color: transparent;
}


/* Home */
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
  height: 100vh;
}
.home_cover{
  display: flex;
  flex-direction: column;
}
.home_title{
  display: flex;
  justify-content: center;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}
.home_serch{
  display: flex;
  justify-content: space-between;
  border: 1.8px solid var(--color-purple-dark);
  border-radius: 2px;
  width: fit-content;
  margin: auto;
  margin-bottom: 0.8rem;
}
.home_serch_input{
  width: 350px;
  height: 33px;
  font-size: 1.1rem;
}
.home_serch_button{
  background-color: var(--color-blue);
  width: 35px;
  height: 35px;
  border-left: 1.8px solid var(--color-purple-dark);
}
.nav_cover{
  display: flex;
  gap: 17px;
  justify-content: center;
}

.nav{
  padding: 4px 0 4px 0;
  border-radius: 15px;
  position: sticky;
  top: 20px;
  background-color: var(--color-yellow);
}

.nav_home,.nav_about,.nav_like,.nav_study{
  border: 2px solid var(--color-purple-dark);
  border-radius: 7px;
  font-weight: 700;
  font-size: 1.35rem;
  padding: 5px 3px 5px 3px;
  white-space: nowrap; 
} 

#about {
  background-image: url('/image/about.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
}

table {
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid var(--color-purple-point);
  background-color: var(--color-purple-point);
  width: fit-content;
  height: fit-content;
  border-collapse: collapse;
}

tr,
td {
  border: 2px solid var(--color-purple-dark);
  text-align: center;
  vertical-align: middle;
  height: 35px;
}
.insta{
  width: 20px;
  height: 20px;
}
.profile{
  width: 400px;
}
.td_p{
  background-color: var(--color-purple-dark);
  color: white;
  border-bottom: 2px solid var(--color-purple);
}
.td_link{
  text-decoration-line: underline;
  color: #f98f25;
}
.td_name{
  display: flex;
  background-color: var(--color-purple-dark);
  height: 50px;
  justify-content: center;
  align-items: center;
  font-weight: 900 ;
  color: white;
  font-size: 1.3rem;
}
/* like */
#like{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('/image/back.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.like_cover{
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.like_icon{
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
p{
  font-size: 1.3rem;
  margin: 0;
}
.like_hobby,.like_ani,.like_color{
  border-radius: 1rem;
  padding: 3rem 7rem;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--color-pink);
  background-color: var(--color-pink);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  
}
.like_ani{
  background-color: var(--color-blue);
}
.like_color{
  background-color: var(--color-purple);
}
.title{
  font-size: 4rem;
  margin: 2rem;
}
.lick_click{
  background-color: var(--color-pink-point);
  border-radius: 15px;
  padding: 10px;
  font-weight: 700;
}
.lick_click2{
  background-color: #62b4eb;
  border-radius: 15px;
  padding: 10px;
  font-weight: 700;
}
.lick_click3{
  background-color: #a1acf2;
  border-radius: 15px;
  padding: 10px;
  font-weight: 700;
}

/* Modal */
.modal{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 440px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem;
  border-radius: 20px;
}
.modal1{
  background-color: var(--color-pink);
}
.modal2{
  background-color: var(--color-blue);
}
.modal3{
  background-color: var(--color-purple);
}

.draw,.ani,.color{
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.slide_images{
  display: flex;
  justify-content: center;
}
.btn_cover{
  display: flex;
  justify-content: end;
  padding: 0.9rem 1rem 0.8rem 0;
}
.btn_prev,
.btn_next{
  font-size: 1.5rem;
}

.close_btn{
  width: 25px;
  height: 25px;
  background-color: rgb(235, 59, 85);
  border-radius: 100px;
  color: white;
  font-weight: 700;
}
.modal_title{
  margin-bottom: 0.5rem;
}
.modal_info{
  margin-bottom: 1rem;
}
.text_cover{
  padding: 0 2rem 0 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-open {
  overflow: hidden;
}

.overlay.active {
  display: block;
}

/* study */
.text_box{
  display: flex;
  justify-content: center;
}
.majors {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2.5rem 0;
  
}

.major_cover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.major {
  width: 120px;
  height: 120px;
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 3rem;
  border-radius: 50%;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  
}
.major1{
  background-color: var(--color-pink);
}
.major2{
  background-color: var(--color-blue);
}
.major3{
  background-color: var(--color-purple);
}

.major__icon {
  font-size: 5rem;
  padding: 1rem;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.study_title_cover{
  display: flex;
  justify-content: center;
}
.major__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.study_info_cover{
  display: flex;
  justify-content: center;
}

.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}

.jobs {
  text-align: start;
  margin-bottom: 1rem;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 2rem ;
  margin-bottom: 1rem;
}

.job__name {
  color: var(--color-primary-variant);
}

.job__period {
  color: var(--color-primary-variant);
  font-size: 0.8rem;
}

/* footer */
#contact {
  background-color:#f7e8ad;
}

.foot_title,.description,.end{
  text-align: center;
}
.description{
  padding-bottom: 2rem;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;

  font-size: 2rem;
}

.contact__link {
  transition: color 200ms ease-in;
}

.contact__link:hover {
  color:#ff8142;
}
.end{
  padding: 0.5rem;
}
.foot_title{
  font-size: 4rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
}
.arrow-up {
  opacity: 0;
  background-color:#4A4070;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 4px 4px 2px 2px #a7a3b9;
  padding: 0.5rem;
  transition: opacity 300ms ease-in;
}
.fa-arrow-up{
  color: white;
  font-size: 2.5rem;
  padding: 3px;
}

.a{
  width: 15px;
  height: 15px;
}
